%h1 Listing messages

%table#messages.display{ 'data-source' => messages_url(format: 'json') }
  %thead
    %tr
      %th Id
      %th Bike Id
      %th Body
      %th Options

  %tbody

%br

= link_to 'New Message', new_message_path
